

section {  
		background:grey;
		border: 1px solid black;
		height: 500px;
		width: 705px;
		margin: 20px;
		padding: 10px;

		font-family:Arial;
		font-size: 10px;
		font-variant: small-caps;
		display: inline-block;
		
}

section header:nth-child(1){

	background:lightgrey;
	border: 1px solid black;
	height: 50px;
	width: 670px;
	margin: 10px;
	padding: 5px;
}

section header:nth-child(2){

	background:lightgrey;
	border: 1px solid black;
	height: 300px;
	margin: 10px;
	width: 100px;
	padding: 5px;
	display: inline-block;
}

section header:nth-child(3){

	background:lightgrey;
	border: 1px solid black;
	height: 300px;
	margin: 10px;
	width: 400px;
	padding: 5px;
	display: inline-block;
}

section header:nth-child(4){

	background:lightgrey;
	border: 1px solid black;
	height: 300px;
	margin: 10px;
	width: 100px;
	padding: 5px;
	display: inline-block;
}
section header:nth-child(5){

	background:lightgrey;
	border: 1px solid black;
	height: 50px;
	width: 670px;
	margin: 10px;
	padding: 5px;
}

